VX.Desktop.ServiceFacade/Service References/VocabExtService/VocabExtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VocabExtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd5" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/VX.Domain.Entities.Impl" />
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VX.Domain.Surrogates.Impl" />
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VX.Domain.Responses.Impl" />
      <xsd:import schemaLocation="http://localhost:17025/VocabExtService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVocabExtService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTasksAllVocabBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksAllVocabBanks" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTasksAllVocabBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksAllVocabBanksResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTasksSpecifiedVocabBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksSpecifiedVocabBanks" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTasksSpecifiedVocabBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksSpecifiedVocabBanksResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetVocabBanksSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVocabBanksSummary" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetVocabBanksSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVocabBanksSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTranslations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslations" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetTranslations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationsResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetWords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWords" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_CreateVocabularyBank_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVocabularyBank" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_CreateVocabularyBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVocabularyBankResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguages" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_GetLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_DeleteVocabularyBank_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVocabularyBank" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_DeleteVocabularyBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVocabularyBankResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_SaveTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTranslation" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_SaveTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_DetachTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:DetachTranslation" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_DetachTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetachTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_UpdateBankSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankSummary" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_UpdateBankSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_SaveWord_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWord" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_SaveWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWordResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_ValidateWord_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateWord" />
  </wsdl:message>
  <wsdl:message name="IVocabExtService_ValidateWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateWordResponse" />
  </wsdl:message>
  <wsdl:portType name="IVocabExtService">
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetTask" message="tns:IVocabExtService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetTaskResponse" message="tns:IVocabExtService_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasksAllVocabBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetTasksAllVocabBanks" message="tns:IVocabExtService_GetTasksAllVocabBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetTasksAllVocabBanksResponse" message="tns:IVocabExtService_GetTasksAllVocabBanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasksSpecifiedVocabBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetTasksSpecifiedVocabBanks" message="tns:IVocabExtService_GetTasksSpecifiedVocabBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetTasksSpecifiedVocabBanksResponse" message="tns:IVocabExtService_GetTasksSpecifiedVocabBanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVocabBanksSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetVocabBanksSummary" message="tns:IVocabExtService_GetVocabBanksSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetVocabBanksSummaryResponse" message="tns:IVocabExtService_GetVocabBanksSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslations">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetTranslations" message="tns:IVocabExtService_GetTranslations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetTranslationsResponse" message="tns:IVocabExtService_GetTranslations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetWords" message="tns:IVocabExtService_GetWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetWordsResponse" message="tns:IVocabExtService_GetWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVocabularyBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/CreateVocabularyBank" message="tns:IVocabExtService_CreateVocabularyBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/CreateVocabularyBankResponse" message="tns:IVocabExtService_CreateVocabularyBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/GetLanguages" message="tns:IVocabExtService_GetLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/GetLanguagesResponse" message="tns:IVocabExtService_GetLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVocabularyBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/DeleteVocabularyBank" message="tns:IVocabExtService_DeleteVocabularyBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/DeleteVocabularyBankResponse" message="tns:IVocabExtService_DeleteVocabularyBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTranslation">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/SaveTranslation" message="tns:IVocabExtService_SaveTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/SaveTranslationResponse" message="tns:IVocabExtService_SaveTranslation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetachTranslation">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/DetachTranslation" message="tns:IVocabExtService_DetachTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/DetachTranslationResponse" message="tns:IVocabExtService_DetachTranslation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBankSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/UpdateBankSummary" message="tns:IVocabExtService_UpdateBankSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/UpdateBankSummaryResponse" message="tns:IVocabExtService_UpdateBankSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/SaveWord" message="tns:IVocabExtService_SaveWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/SaveWordResponse" message="tns:IVocabExtService_SaveWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabExtService/ValidateWord" message="tns:IVocabExtService_ValidateWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabExtService/ValidateWordResponse" message="tns:IVocabExtService_ValidateWord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVocabExtService" type="tns:IVocabExtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksAllVocabBanks">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetTasksAllVocabBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksSpecifiedVocabBanks">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetTasksSpecifiedVocabBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVocabBanksSummary">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetVocabBanksSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTranslations">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetTranslations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWords">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVocabularyBank">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/CreateVocabularyBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/GetLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVocabularyBank">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/DeleteVocabularyBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTranslation">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/SaveTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetachTranslation">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/DetachTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBankSummary">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/UpdateBankSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWord">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/SaveWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWord">
      <soap:operation soapAction="http://tempuri.org/IVocabExtService/ValidateWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VocabExtService">
    <wsdl:port name="BasicHttpBinding_IVocabExtService" binding="tns:BasicHttpBinding_IVocabExtService">
      <soap:address location="http://localhost:17025/VocabExtService.svc/soapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>