VX.Desktop.ServiceFacade/Service References/VocabExtService/VocabExtService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VX.Domain.Responses.Impl" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VX.Domain.Responses.Impl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationActionCode" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResponse" nillable="true" type="tns:ServiceOperationResponse" />
</xs:schema>