VX.Desktop.ServiceFacade/Service References/AccountMembershipService/AccountMembershipService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://asp.net/ApplicationServices/v200" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountMembershipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://asp.net/ApplicationServices/v200" location="http://vx.com/AccountMembershipService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vx.com/AccountMembershipService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vx.com/AccountMembershipService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vx.com/AccountMembershipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
      <xsd:import schemaLocation="http://vx.com/AccountMembershipService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMembershipService_GetMinPasswordLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinPasswordLength" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMinPasswordLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinPasswordLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetVocabBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVocabBanks" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetVocabBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVocabBanksResponse" />
  </wsdl:message>
  <wsdl:portType name="IMembershipService">
    <wsdl:operation name="GetMinPasswordLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetMinPasswordLength" message="tns:IMembershipService_GetMinPasswordLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetMinPasswordLengthResponse" message="tns:IMembershipService_GetMinPasswordLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ValidateUser" message="tns:IMembershipService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ValidateUserResponse" message="tns:IMembershipService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/CreateUser" message="tns:IMembershipService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/CreateUserResponse" message="tns:IMembershipService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ChangePassword" message="tns:IMembershipService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ChangePasswordResponse" message="tns:IMembershipService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVocabBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetVocabBanks" message="tns:IMembershipService_GetVocabBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetVocabBanksResponse" message="tns:IMembershipService_GetVocabBanks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AccountMembershipService">
    <wsdl:port name="BasicHttpBinding_IMembershipService" binding="i0:BasicHttpBinding_IMembershipService">
      <soap:address location="http://vx.com/AccountMembershipService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>